.subscription {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .subscription h2 {
    color: #2196f3; /* Blue */
    margin-bottom: 20px;
  }
  
  .subscription p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  