/* Styles/MyProfile.css */
.profile-form {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form h2 {
    color: #DC7211;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 500;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .profile-form input[type="text"],
  .profile-form input[type="email"],
  .profile-form input[type="number"],
  .profile-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-form button {
    background-color: #DC7211;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-form button:hover {
    background-color: #b0580c;
  }
  