.reading-history {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reading-history h2 {
    color: #f44336; /* Red */
    margin-bottom: 20px;
  }
  
  .reading-history ul {
    list-style: none;
    padding: 0;
  }
  
  .reading-history ul li {
    background-color: #f1f8e9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  